<style>
    .widget-user .widget-user-header {
        background-position: center center;
        background-size: cover;
        height: 250px;
    }
</style>

<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header text-white" style="background-image: url('/img/user-cover.jpg');">
                        <h3 class="widget-user-username">Daniel Lucas</h3>
                        <h5 class="widget-user-desc">Lead Developer</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle" :src="getProfilePhoto()" alt="User Avatar">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">SALES</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card card-outline card-primary">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#activity" data-toggle="tab">
                                    Activity
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings" data-toggle="tab">
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <h2 class="text-center">Display User Activity</h2>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-12 control-label">Name</label>

                                        <div class="col-sm-12">
                                            <input type="text"
                                                   v-model="form.name"
                                                   class="form-control"
                                                   name="name"
                                                   id="name"
                                                   placeholder="Name"
                                                   :class="{ 'is-invalid': form.errors.has('name') }"
                                            >
                                            <has-error :form="form" field="name"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-12 control-label">Email</label>

                                        <div class="col-sm-12">
                                            <input type="email"
                                                   v-model="form.email"
                                                   class="form-control"
                                                   name="email"
                                                   id="email"
                                                   placeholder="Email"
                                                   :class="{ 'is-invalid': form.errors.has('email') }"
                                            >
                                            <has-error :form="form" field="email"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="bio" class="col-sm-12 control-label">Bio</label>

                                        <div class="col-sm-12">
                                            <textarea v-model="form.bio"
                                                      class="form-control"
                                                      name="bio"
                                                      id="bio"
                                                      placeholder="Bio"
                                                      :class="{ 'is-invalid': form.errors.has('email') }"
                                            ></textarea>
                                            <has-error :form="form" field="bio"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="photo" class="col-sm-12 control-label">Profile Photo</label>

                                        <div class="col-sm-12">
                                            <input type="file" @change="updateProfilePhoto" id="photo" name="photo">
                                            <has-error :form="form" field="photo"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-12 control-label">
                                            Password (leave empty if not changed)
                                        </label>

                                        <div class="col-sm-12">
                                            <input type="password"
                                                   v-model="form.password"
                                                   class="form-control"
                                                   name="password"
                                                   id="password"
                                                   placeholder="Password"
                                                   :class="{ 'is-invalid': form.errors.has('password') }"
                                            >
                                            <has-error :form="form" field="password"></has-error>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="button" @click.prevent="updateInfo" class="btn btn-success">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: ''
                }),
                profilePhoto: '',
            }
        },

        methods: {
            getProfilePhoto() {
                return `/storage/profile/${this.profilePhoto}`;
            },

            updateProfilePhoto(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                if (file.size >= 2111775) {
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'The file cannot be larger than 2Mb'
                    });
                    return;
                }

                reader.onload = () => this.form.photo = reader.result;
                reader.readAsDataURL(file);
            },

            updateInfo() {
                this.$Progress.start();
                this.form.put(`/api/profile`).then(({ data }) => {
                    this.profilePhoto = data.photo;
                    this.$Progress.finish();
                }).catch(() => {
                    this.$Progress.fail();
                });
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        created() {
            this.form.get('api/profile').then(({ data }) => {
                this.form.fill(data);
                this.profilePhoto = data.photo;
            });
        }
    }
</script>
