<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5" v-if="$gate.isAdmin() || $gate.isAuthor()">
                <div class="card">
                    <div class="card-header p-3">
                        <h3 class="card-title">Users Table</h3>

                        <div class="card-tools">
                            <button class="btn btn-success" @click="displayCreationForm">
                                Add New
                                <i class="fas fa-user-plus fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Registered At</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="user in users" :key="user.id">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.type | ucfirst }}</td>
                                    <td>{{ user.created_at | fullDate }}</td>
                                    <td>
                                        <a href="#" @click="displayEditionForm(user)">
                                            <i class="fas fa-edit blue"></i>
                                        </a>
                                        /
                                        <a href="#" @click="deleteUser(user.id)">
                                            <i class="fas fa-trash red"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

            <div v-if="! $gate.isAdmin() && ! $gate.isAuthor()">
                <not-found></not-found>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">{{ isEditing ? 'Update User\'s Info' : 'Add New' }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="isEditing ? updateUser() : createUser()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.name"
                                       type="text"
                                       name="name"
                                       id="name"
                                       placeholder="Name"
                                       class="form-control"
                                       :class="{ 'is-invalid': form.errors.has('name') }"
                                >
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email"
                                       type="email"
                                       name="email"
                                       id="email"
                                       placeholder="Email Address"
                                       class="form-control"
                                       :class="{ 'is-invalid': form.errors.has('email') }"
                                >
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <textarea v-model="form.bio"
                                          name="bio"
                                          id="bio"
                                          placeholder="Short bio for user (Optional)"
                                          class="form-control"
                                          :class="{ 'is-invalid': form.errors.has('bio') }"
                                ></textarea>
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <select v-model="form.type"
                                        name="type"
                                        id="type"
                                        class="form-control"
                                        :class="{ 'is-invalid': form.errors.has('type') }"
                                >
                                    <option value="">Select User Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">Standard User</option>
                                    <option value="author">Author</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.password"
                                       type="password"
                                       name="password"
                                       id="password"
                                       placeholder="Password"
                                       class="form-control"
                                       :class="{ 'is-invalid': form.errors.has('password') }"
                                >
                                <has-error :form="form" field="password"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="isEditing" type="submit" class="btn btn-success">Update</button>
                            <button v-show="! isEditing" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                isEditing: true,
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: ''
                })
            }
        },

        methods: {
            loadUsers() {
                if (this.$gate.isAdmin() || this.$gate.isAuthor()) {
                    axios.get('api/user').then(({ data }) => this.users = data.data);
                }
            },

            displayCreationForm() {
                this.isEditing = false;
                this.form.reset();
                $('#addNew').modal('show');
            },

            displayEditionForm(user) {
                this.isEditing = true;
                this.form.reset();
                this.form.fill(user);
                $('#addNew').modal('show');
            },

            createUser() {
                this.$Progress.start();
                this.form.post('api/user').then(() => {
                    Fire.$emit('UserChanged');
                    $('#addNew').modal('hide');
                    Toast.fire({ type: 'success', title: 'User created successfully' });
                    this.$Progress.finish();
                }).catch(() => {
                    this.$Progress.fail();
                })
            },

            updateUser() {
                this.$Progress.start();
                this.form.put(`api/user/${this.form.id}`).then(() => {
                    Fire.$emit('UserChanged');
                    $('#addNew').modal('hide');
                    Toast.fire({ type: 'success', title: 'User updated successfully' });
                    this.$Progress.finish();
                }).catch(() => {
                    this.$Progress.fail();
                });
            },

            deleteUser(userId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete(`api/user/${userId}`).then(() => {
                            Swal.fire('Deleted!', 'The user has been deleted', 'success');
                            Fire.$emit('UserChanged');
                        }).catch(() => {
                            Swal.fire('Failed!', 'Something went wrong', 'warning');
                        });
                    }
                });
            }
        },

        created() {
            this.loadUsers();
            Fire.$on('UserChanged', () => this.loadUsers());
        }
    }
</script>
